/* Custom styles */

body {
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 50px;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 20px auto;
}

.card-body img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}